*{
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}
div
{
    border:1px solid white;
    height:100px ;
    width:100px;
    border-top:5px solid aqua;
    border-radius:50%;
    animation-name:raj;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite;
    
}
@keyframes raj
{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg); 
    }
}
